<div id="header" role="banner">
  <div id="sr-header-area">
    <div class="width-clip">
      <div class="sr-list">
        <ul class="flat-list sr-bar">
          <li>
            <a href="/subverses/subscribed">my subverses</a>
          </li>
          <li>
            <span class="separator">-</span><a href="/">front</a>
          </li>
          <li>
            <span class="separator">-</span><a href="/v/all">all</a>
          </li>
          <li>
            <span class="separator">-</span><a href="/random" class="random">random</a>
          </li>
        </ul>
        <ul class="flat-list sr-bar" id="sr-bar" ng-controller="SubversesController">
          <li ng-repeat="sv in defaultSubverses">
              <span class="separator">-</span>
              <a href="{{sv.url}}" ng-bind="sv.name"></a>
          </li>
        </ul>
      </div>
      <a href="/subverses" id="sr-more-link">more &raquo;</a>
    </div>
  </div>
  <div id="header-bottom-left">
    <a title="Whoaverse.com - Alpha" href="/" id="header-img-a">
      <img id="header-img" src="/Graphics/whoaverse_padded.png" alt=" whoaverse.com" height="40" width="113">
    </a>
    <ul class="tabmenu" ng-controller="TabmenuController">
      <li ng-repeat="tab in availableTabs" ng-class="{selected: tab.active}">
        <a href="{{tab.url}}" ng-bind="tab.label"></a>
      </li>
    </ul>
  </div>
  <div class="nav navbar-nav navbar-right"><div id="header-bottom-right">
    <span class="user" ng-controller="CurrentUserController">
      <a href="{{user.url}}" title="Profile">cr</a>&nbsp;
      (<span class="userkarma" title="submission contribution points" ng-bind="user.submissionKarma"></span>
      |<span class="userkarma" title="comment contribution points" ng-bind="user.commentKarma"></span>)
    </span>
    <span class="separator">|</span>
    <span class="user"><a href="/account/manage" title="Manage">Manage</a></span>
    <span class="separator">|</span>
    <a title="no new mail" href="#" class="nohavemail" id="mail">messages</a>
    <span class="separator">|</span>
    <a ng-controller="SessionController" href="#" ng-click="logout()">Log off</a>
  </div></div>
</div>
